.menu-page__container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-right: calc(var(--margin-mobile) + 3rem);
}

@media (min-width: 640px) {
  .menu-page__container {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-right: calc(var(--margin-mobile) + 3.25rem);
  }
}

@media (min-width: 1024px) {
  .menu-page__container {
    padding-right: calc(var(--margin-desktop) + 3.25rem);
  }
}
